body {
    background-image: url(./img/wheather-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

#input {
    border: none;
    background: none;
    outline: none;
    color: inherit;
    border-bottom: 1px solid;
    border-color: #034C8C;
    width: 50%;

}

.card {
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #034C8C;
}

.card-title {
    color: #262473;
    font-size: x-large;

}

.card-title span {
    background-color: orange;
    color: white;
    font-size: small;
    padding: 0.1rem 0.5rem;
    margin: 0.4rem;
    border-radius: 7px;
    position: relative;
    bottom: 10px;

}

#temp {
    font-size: 60px;
    font-weight: bolder;
}

.card-text span {
    font-size: 36px;
    font-weight: lighter;
    position: relative;
    bottom: 20px;
}

#weather-condition {
    font-weight: 600;
    color: #F2A057;
    letter-spacing: 4px;
    /** harfler arası boşluk */
}

#error {
    display: flex;
    flex-direction: column;
    height: 10px
        /** bir miktar height vererek ekrandaki span ın ortaya çıktığında tüm divi kaydırmasını önlüyoruz */
}

li {
    display: flex;

    list-style: none;
}

#remove {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

#remove:hover {
    transform: scale(0.97);

}